.review_container {
	display: flex;
	flex-direction: column;
	margin: 40px;
	width: 800px;
	padding: 20px;
	border: .1em solid #ff4d4d;
	background: #ff9999;
	border-radius: 20px;
}

.bold {
	font-weight: bold;
}

.italics {
	font-style: italic;
}

#see_Reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
